<!--
  #TIP: in this case we hide the navbar provided by navigation system.
-->
<ion-view hide-nav-bar="true">
  <ion-header-bar class="bar bar-deepblue bar-deepblue-borderbottom">
  <h2 class="title">Recuperación de Clave</h2>
  </ion-header-bar>

  <ion-content class="has-header has-footer padding full-height text-center">
    <div style="padding-top:50px;">
      <h3 class="sans-pro-light">Por favor ingrese su usuario</h3>
    
      <label class="item item-input">
        <input type="text" placeholder="Usuario">
      </label>
      
      <!--
       #NOT-IMPLEMENTED:
       the button does nothing, implementation is up to you!
      -->
      <button class="button button-block button-energized">ENVIAR</button>
    
    </div>
  </ion-content>

  <!--
    #IMPLEMENTATION-DETAIL:
    we put a link to login in the footer.
  -->
  <ion-footer-bar class="bar bar-deepblue bar-deepblue-bordertop pointer" ui-sref="app.login">
    <h1 class="title sans-pro-light">Volver al inico de sesión</h1>
  </ion-footer-bar>

</ion-view>
