<ion-view view-title="Formulario: {{form.code}}">
<ion-nav-buttons side="right">
    <button class="button button-energized" ui-sref="app.forms_list">Regresar</button>
  </ion-nav-buttons>
 
   <ion-nav-bar class="bar-positive">
      
    </ion-nav-bar>
             
    <ion-nav-view></ion-nav-view>


    <script id="" type="text/ng-template">
      <ion-tabs class="tabs-icon-top tabs-positive">

        <ion-tab title="Datos del Cliente" icon="ion-person" href="">
          <ion-nav-view name="home-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Datos del Vehiculo" icon="ion-model-s" ui-sref="">
          <ion-nav-view name="contact-tab"></ion-nav-view>
        </ion-tab>


        <ion-tab title="Cargar Imagenes" icon="ion-camera" href="">
          <ion-nav-view name="about-tab"></ion-nav-view>
        </ion-tab>
        
        <ion-tab title="Enviar" icon="ion-ios-information" href="">
          <ion-nav-view name="about-tab"></ion-nav-view>
        </ion-tab>

      </ion-tabs>
    </script>

    <script id="" type="text/ng-template">
      <ion-view view-title="Forms">
        <ion-content class="padding">
           <h3>About</h3>
        </ion-content>
      </ion-view>
    </script>

  
    <script id="" type="text/ng-template">
      <ion-view view-title="About">
        <ion-content class="padding">
          <h3>About</h3>
          
        </ion-content>
      </ion-view>
    </script>

    <script id="" type="text/ng-template">
      <ion-view title="Contact">
        <ion-content>
          <h3>Contacto</h3>
        </ion-content>
      </ion-view>
    </script>


</ion-view>
