<ion-view view-title="Formularios Recibidos">
<ion-nav-buttons side="right">
    <button class="button button-energized" ui-sref="app.main">Regresar</button>
  </ion-nav-buttons>
  <ion-content>
  <ion-refresher
      pulling-text="LOADING"
      on-refresh="doRefresh()">
    </ion-refresher>

    <!-- this message is shown in case of no feeds present -->
    <div class="text-center" style="padding-top:40px;" ng-if="!forms.length">
      <h1 class="sans-pro-light">Sin Trabajos Pendientes</h1>
      <h4 class="sans-pro-light">Presione para Actualizar</h4>
      <h2 class="ion-ios-arrow-thin-down"></h2>
    </div>
    <ion-list>
      <ion-item class="item-remove-animate item  item-icon-right" ng-repeat="form in forms" type="item-text-wrap" href="#/app/forms/{{form.id}}">
        <h2><b>Código: </b>{{form.code}}</h2>
        <p><b>Fecha: </b>{{form.date}}</p>
        <p><b>Tipo de Servicio: </b>{{form.type}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="remove(form)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>