<ion-view view-title="" hide-back-button="true">

    <ion-nav-buttons side="right">
    <span ui-sref="app.messages" >
      <button tittle= "Notificaciones" class="button button-clear icon icon ion-chatbubbles white-color">
        
      </button>
      
    </span>
    </ion-nav-buttons>

  <ion-content>
  <h1 class="text-center white-color">
       Bienvenido
      
  </h1> 
  <div class="text-center white-color" ng-app ng-controller="getDate">
    <b>Santiago, {{date | date:'dd/MM/yyyy'}}</b><br> 
  </div>
    <div class="row">
        <div class= "col">
          <img src= "sampledata/images/03.jpg">  
        </div>
    </div>
     
  </ion-content>
</ion-view>
