<ion-view view-title="Notificaciones" hide-back-button="true">

  <ion-nav-buttons side="right">
    <button class="button button-energized" ui-sref="app.main">Regresar</button>
  </ion-nav-buttons>
  
  <!-- we use a subheader component to show total and links to checkout and shop-->
  <div class="bar bar-subheader bar-positive white-color">
    
    <h4 class="title">0 Notificaciones</h4>
    
  </div>     
  
  <ion-content class="has-header has-subheader has-footer">
    <!-- <div class="item item-divider" ng-if="cart.products.length">Delice el dedo para remover notificaciones</div> -->
    <div class="text-center" style="padding-top:40px;">
      <h2 class="sans-pro-light">No tienes notificaciones</h2>
      <div class="button button-outline button-energized button-deepblue-white" ui-sref="app.main">Volver atrás</div>  
    </div>
    
    <!-- 
      #IMPLEMENTATION-DETAIL:
      we are using a swipeable list to give an interface to remove products 
      from the cart. This is done by binding the "can-swipe" attribute of an
      "ion-list" to true. 
    -->  
    <ion-list can-swipe="true">  
      
    </ion-list>
  </ion-content>

  <!-- in case we have items, explain how to remove them in footer --> 
 
   
</ion-view>
