
<ion-view hide-nav-bar="true">
  

  <ion-content class="padding full-height">
    <h1 class="text-center white-color home-title">
        Race App
    </h1>
    <div class="row">
        <div>
          <img src= "sampledata/images/main.png" style="width: 345px; height: 250px">  
        </div>
    </div>
    <div class="row">
        <div class="col col-20"></div>
        <div class="col">
            <button class="button button-large button-energized button-block" ui-sref="app.login">Iniciar Sesión</button>        
        </div>
        <div class="col col-20"></div>
    </div>
  </ion-content>
  <ion-footer-bar class="bar bar-deepblue bar-deepblue-bordertop pointer">
    <h1 class="title sans-pro-light">2017 © </h1>
  </ion-footer-bar>

</ion-view>
