<ion-view view-title="Formulario: {{form.code}}">
<ion-nav-buttons side="right">
    <button class="button button-energized" ui-sref="app.forms_list">Regresar</button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label"><b>Lugar del Servicio</b></div>
        <select>
          <option value="domicilio">Domicilio</option>
          <option value="oficina">Oficina</option>
          <option value="rent">Renta a Car</option>
          <option value="otro">Otro</option>
        </select>
      </label>
      <label class="item item-input">
          <div class="input-label"><b>Información del Cliente</b></div>
      </label>
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Email">
         </label>
        <button class="button button-small">Editar</button>
      </div>
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Email">
         </label>
        <button class="button button-small">Editar</button>
      </div>
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Email">
         </label>
        <button class="button button-small">Editar</button>
      </div>
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Email">
         </label>
        <button class="button button-small">Editar</button>
      </div>
      <ion-list>
        <label class="item item-input">
          <div class="input-label"><b>Equipamiento del Vehiculo</b></div>
        </label>
        <ion-checkbox class="checkbox-calm" ng-model="filter.red">Red</ion-checkbox>
        <ion-checkbox class="checkbox-calm" ng-model="filter.yellow">Yellow</ion-checkbox>
        <ion-checkbox class="checkbox-calm" ng-model="filter.pink">Pink</ion-checkbox>
        <ion-checkbox class="checkbox-calm" ng-model="filter.pink">Pink</ion-checkbox>
        <ion-checkbox class="checkbox-calm" ng-model="filter.pink">Pink</ion-checkbox>
        <ion-checkbox class="checkbox-calm" ng-model="filter.pink">Pink</ion-checkbox>
        <ion-checkbox class="checkbox-calm" ng-model="filter.pink">Pink</ion-checkbox>
        <ion-checkbox class="checkbox-calm" ng-model="filter.pink">Pink</ion-checkbox>
      </ion-list>
      <ion-list>
        <label class="item item-input">
          <div class="input-label"><b>Transmión(Automática / Mecánico)</b></div>
        </label>
        <div class="item range range-positive">
          <i class="icon ion-ios-gear"></i>
          <input type="range" name="volume" min="0" max="1" value="33">
          <i class="icon ion-android-hand"></i>
        </div>
      </ion-list>
      <ion-list>
        <label class="item item-input">
          <div class="input-label"><b>Tracción</b></div>
        </label>
        <ion-radio class="radio-calm" ng-model="choice" ng-value="'C'"> 4x2 </ion-radio>
        <ion-radio class="radio-calm" ng-model="choice" ng-value="'D'"> 4x4 </ion-radio>
      </ion-list>
      
    </div>




  </ion-content>
</ion-view>
