<ion-view view-title="Trabajos Terminados">
<ion-nav-buttons side="right">
    <button class="button button-energized" ui-sref="app.main">Regresar</button>
  </ion-nav-buttons>
  <ion-content>
  <ion-refresher
      pulling-text="LOADING"
      on-refresh="doRefresh()">
    </ion-refresher>

    <!-- this message is shown in case of no feeds present -->
    <div class="text-center" style="padding-top:40px;" ng-if="!tickets.length">
      <h1 class="sans-pro-light">Sin Trabajos Pendientes</h1>
      <h4 class="sans-pro-light">Presione para Actualizar</h4>
      <h2 class="ion-ios-arrow-thin-down"></h2>
    </div>
    <ion-list>
      <ion-item class="item-remove-animate item item-thumbnail-left item-icon-right" ng-repeat="ticket in tickets | filter: { state: 'finished'}" type="item-text-wrap" href="#/app/jobs_finished/{{ticket.id}}">
        <img ng-src="{{ticket.image}}">
        <h2><b>Código: </b>{{ticket.code}}</h2>
        <p><b>Lugar: </b>{{ticket.address}}</p>
        <p><b>Vehículo: </b>{{ticket.model}}</p>
        <p><b>Cliente: </b>{{ticket.client}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="remove(ticket)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>