<ion-view view-title="{{ticket.code}}">
<ion-nav-buttons side="right">
    <button class="button button-energized" ui-sref="app.jobs_new">Regresar</button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <div class="item item-avatar item-button-right">
      <img src="sampledata/images/avatar.jpg">
      <h2><b>Código: {{ticket.code}} </b></h2>
      <p><b>Servicio:</b> 
        {{ticket.description}}
      </p>
      <p><b>Fecha de Cierre:</b> 
        {{ticket.date}}
      </p>
      <p>
        <b>Lugar: 
      </b>{{ticket.address}}</p>
      <p>
        <b>Vehículo: </b>{{ticket.model}}
      </p>
      <p>
        <b>Cliente: </b>{{ticket.client}}
      </p>
      <p>
        <b>Modelo:</b> {{ticket.model}}
      </p>
      <p>
        <b>Telefóno:</b> {{ticket.phone}}
      </p>
      <p>
        <b>Dirección:</b> {{ticket.address}}
      </p>
    </div>
    <br>
    <div class="item">
      <img ng-src="{{ticket.image}}" style="width: 330px; height: 250px">
  </div>
  <div class="row">
        <div class="col col-20"></div>
        <div class="col">
            <button class="button button-large button-energized button-block" ui-sref="">Comenzar </button>        
        </div>
        <div class="col col-20"></div>
    </div>
  </ion-content>
</ion-view>
